<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.wswj.ai.infrastructure.dao.AiAgentDao">
    <resultMap id="BaseResultMap" type="fun.wswj.ai.infrastructure.dao.po.AiAgent">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="agent_id" property="agentId" jdbcType="BIGINT" />
        <result column="agent_name" property="agentName" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="channel" property="channel" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="update_time" property="updateTime" jdbcType="DATE" />
    </resultMap>


    <sql id="Base_Column_List">
        id, agent_id, agent_name, description, channel, status, create_time, update_time
    </sql>
    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM ai_agent
    </select>
    <select id="queryValidClientIds" resultType="java.lang.String">
        SELECT DISTINCT
            afc.client_id
        FROM
        ai_agent a
        JOIN
        ai_agent_flow_config afc ON a.agent_id = afc.agent_id
        WHERE
            a.status = 1
    </select>
</mapper>