<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.wswj.ai.infrastructure.dao.AiAgentDao">
    <resultMap id="BaseResultMap" type="fun.wswj.ai.infrastructure.dao.po.AiAgent">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="agent_id" property="agentId" jdbcType="BIGINT" />
        <result column="agent_name" property="agentName" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="channel" property="channel" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="update_time" property="updateTime" jdbcType="DATE" />
    </resultMap>


    <select id="queryAll" resultMap="BaseResultMap">
        SELECT * FROM ai_agent
    </select>
</mapper>