<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.wswj.ai.infrastructure.dao.AiClientConfigDao">

    <resultMap id="BaseResultMap" type="fun.wswj.ai.infrastructure.dao.po.AiClientConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sourceType" column="source_type" jdbcType="VARCHAR"/>
            <result property="sourceId" column="source_id" jdbcType="VARCHAR"/>
            <result property="targetType" column="target_type" jdbcType="VARCHAR"/>
            <result property="targetId" column="target_id" jdbcType="VARCHAR"/>
            <result property="extParam" column="ext_param" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,source_type,source_id,
        target_type,target_id,ext_param,
        status,create_time,update_time
    </sql>

    <select id="queryBySourceTypeAndIds" resultType="fun.wswj.ai.infrastructure.dao.po.AiClientConfig">
        select <include refid="Base_Column_List"/>
        from ai_client_config
        where source_type = #{sourceType}
        and source_id in
        <foreach item="item" collection="ids" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>
</mapper>
